.navbar {
	// margin-top: 10px;
	width: 1100px;
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: space-between;
	height: 60px;

	.links {
		text-decoration: none;
		display: flex;
		// gap: 850px;
		width: 400px;
		justify-content: space-between;
	}
	.dropdown {
		// margin-top: 10px;
		font-size: 16px;
		color: #fff;
		font-family: var(--geist);
		border: var(--border);
		background: rgb(30, 84, 249);
		padding: 10px 15px;
		border-radius: 10px;
		// background: var(--background);
	}
}